<div style='border:1px solid #dadada;width:90%;margin:20px 5%;color:#333 !important;'>
    <div style='width:98%;margin-left:1%;border-bottom:1px dotted black;text-align:center;padding:15px 0;'><img src='../images/BTA.jpg' style='height:75px'/></div>
    <div style='margin:0 1% 1%;background:#f1f1f1;padding:20px;'>
        <h3 style='color: black;margin: 0px 0 15px;'>Hello <%= username %>,</h3>
        <p style='color: black;margin: 0px 0 30px;font-size:16px'>A password request was received, click the link below to proceed with resetting your password, <b>the link expires in 24hrs</b>:</p>
        <p style='color: black;margin: 0px 0 30px;font-size:16px;text-align:center'><a href="<%= resetlink %>" style="background:blue;padding:10px 12px;color:white">RESET PASSWORD</p>
        <p style='color: red;text-align:center;margin: 15px 0;font-size:16px'>Kindly disregard this email if you didn't request for password reset.</p>
        <p style='color: black;margin: 0px 0 15px;font-size:16px;'>Thank you.</p>
    </div>
</div>