Hello <%= username%>,
A password request was received, click the link below to proceed with resetting your password, the link expires in 24hrs:
<a href="<%= resetlink %>">RESET PASSWORD</a>
Kindly disregard this email if you didn't request for password reset.
Thank you.