<div style='border:1px solid #dadada;width:90%;margin:20px 5%;color:#333 !important;'>
    <div style='width:98%;margin-left:1%;border-bottom:1px dotted black;text-align:center;padding:15px 0;'><img src='<%= site.siteLogo %>' style='height:75px'/></div>
    <div style='margin:0 1% 1%;background:#f1f1f1;padding:20px;'>
        <h3 style='color: black;margin: 0px 0 15px;'>Hello <%= loginInfo.name %>,</h3>
        <p style='color: black;margin: 0px 0 30px;font-size:16px'>Your password reset request was successful, kindly login with the newly set password.</p>
        <p style='color: black;margin: 0px 0 30px;font-size:16px;text-align:center'><a href="<%= loginInfo.url %>" style="background:blue;padding:10px 12px;color:white">LOGIN TO DASHBOARD</p>
        <p style='color: black;margin: 0px 0 15px;font-size:16px;'>Thank you.</p>
    </div>
</div>