<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-grid.css">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="mybody">
  <div id="overlay">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">BTA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main -->
    <div id="main" class="d-flex align-content-center text-white flex-wrap" style="height: 550px">
      <div class="col-md-7">
        <div class="text-center">
          <text class="font-weight-bold">BASIC TUTOR <br> ACADEMY</text>
        </div>
      </div>

      <div class="col-md-4">
        <form action="/valCode" method="POST">
          <div class="form-group">
            <label class="font-weight-bold" for="pin">Enter Generated pin to proceed to your registration</label>
            <input type="password" class="form-control" id="pin" name="code" placeholder="Password">
            <button type="submit" class="btn btn-primary mt-2">Proceed</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Footer -->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; BTA</small>
        </div>
      </footer>
  </div>
</body>

</html>