<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <%#= pinposted %>
    <form action="/check" method="post">
        <input type="text" name="code">
        <input type="submit" value="SUBMIT">
    </form>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        if("<%-pinposted%>"){
            swal({
                text: "<%=pinposted%>"
            })
        }
        if("<%-pinExist%>"){
            swal({
                text: "<%=pinExist%>"
            })
        }
    </script>
   

</body>
</html>