<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
    <div class="container">
        <header>
        <div class="header-text">
            <h1>STUDENTS PROFILE</h1>
        </div>
    </header>

    <main>
        <div class="profile-img">
            <img src="http://studentservices.lasu.edu.ng/returningstudents/images/stud_image/170591087.jpg" alt="Profile-Image">
        </div>

        <div class="profile-details">
            <!-- Full name -->
            <div class="detail-wrapper">
                <label for="Fullname">Full Name :</label>
                <h4>Ifeanyi Kelvin Ossai</h4>
            </div>

            <!-- Matric Number -->
            <div class="detail-wrapper">
                <label for="Matric-no">Matriculation Number :</label>
                <h4>170591085</h4>
            </div>

            <!-- Department -->
            <div class="detail-wrapper">
                <label for="Department">Department:</label>
                <h4>Computer Science</h4>
            </div>

            <!-- Registration Number -->
            <div class="detail-wrapper">
                <label for="Registration-no">Registration Number:</label>
                <h4>BTA/17CS/4013</h4>
            </div>

            <!-- Gender-->
            <div class="detail-wrapper">
                <label for="Gender">Gender :</label>
                <h4>Male</h4>
            </div>

            <!-- Email -->
            <div class="detail-wrapper">
                <label for="Email">Email Address</label>
                <h4>ifeanyiko4u@gmail.com</h4>
            </div>

            <!-- Phone Number -->
            <div class="detail-wrapper">
                <label for="Phone">Phone Number:</label>
                <h4>07062581696</h4>
            </div>
        </div>
        <!-- Logout Button -->
        <div class="logout-wrapper">
           <a href=""><button class="btn-logout">Log Out</button> </a> 
        </div>
    </main>
</div>

</body>

</html>