<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=initial-scale=1.0">
    <link rel="icon" type="image/jpg" sizes="16x16" href="/images/BTA.jpg">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset : Password</title>
</head>
<body>
    <div class="container-login100">
        <div class="wrap-login100">

            <form class="login100-form validate-form" action="/reset/<%-token%>" method="POST">
                <span class="login100-form-title p-b-34">
                    Confirm password
                </span>

                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type password">
                    <input class="input100" type="password" placeholder="Password" name="password" id="password" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                    <input class="input100" type="password" placeholder="Confirm Password" name="confirm" id="confirm_password"
                        required>
                    <span class="focus-input100"></span>
                </div>

                <div class="w-full text-center p-t-27 p-b-239">
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Change Password
                        </button>
                    </div>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('/img/africa.jpg');"></div>
        </div>
    </div>

    <%#- include("../partials/dashboard-scripts") %>

</body>
</html>