body{
  background: -webkit-gradient(top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("./study-skills-assessments.jpg");;
  background: linear-gradient( to bottom, rgba(52, 58, 64, 0.8), rgba(52, 58, 64 , 0.8)), url("./study-skills-assessments.jpg");;
  background-position: center center;
  background-size: cover;
}

a {
  color: #00B7FF;
}

#code-form input{
  border-radius: 22px;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 3em;
  padding-bottom: 3rem;
 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.masthead h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  font-weight: 700; 
}

#headtext{
  text-shadow: 0px 0px 20px rgb(6, 3, 3);
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 4rem;
  }
}

#searchbox {
  background-color:#f1f3f3;
  border-radius: 22px;
  cursor: text;
  font-size: 18px;
  height: 44px;
  line-height: 36px;
  margin: 0 auto;
  max-width: 560px;
  opacity: 1;
  position: relative;
  transition: background-color 300ms ease-in-out, opacity 200ms;
}

#searchbox-icon {
  bottom: 0;
  /* display: none; */
  height: 24px;
  right: 30px;
  margin: auto 0;
  margin-inline-start: 16px;
  position: absolute;
  /* top: -12px; */
  height: 44px;
   
  width: 24px;
}

#searchbox-text {
  bottom: 4px;
  color: #a2a6a9;
  font-size: 14px;
  left: 0;
  margin-top: 1px;
  overflow: hidden;
  padding-inline-start: 20px;
  position: absolute;
  right: 13px;
  text-align: initial;
  text-overflow: ellipsis;
  top: 4px;
  vertical-align: middle;
  visibility: inherit;
  white-space: nowrap;
}

#searchbox > input {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  margin: 0;
 border: none;
 background: transparent;
  padding-inline-start: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

#button-addon2{
  border-radius: 0px 30px 30px 0px;
  right: -15px;
  position: relative;
}